* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

h1 {
    margin-bottom: 6px;
    color: #ededed;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin-top: 6px;
}

dfn {
    font-style: normal;
    text-decoration: underline;
}

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 200px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    width: 1200px;
    margin: 40px auto;
    border: 1px solid lighten(grey, 25%);
    border-radius: 2px;
    box-shadow: 2px 4px 10px #a1a0a0;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
}

.header--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 40px;
    background-color: #017201;

    img {
        border-radius: 50%;
    }
}

.sub-heading {
    font-size: 20px;
    font-weight: bold;
    color: #ededed;
}

.story-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.story {
    width: 30%;
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 40px;

    dt {
        margin-top: 20px;
        font-weight: bold;
    }

    dd {
        margin-left: 0;
    }
}

address {
    font-style: normal;
}

main {
    grid-column-start: 2;
    grid-column-end: 5;
    padding-right: 40px;
}

.item {
    display: flex;

    ~ .item {
        margin-top: 10px;
    }

    .item__content {

        h4 {
            font-size: 14px;
            margin-bottom: 6px;
        }

        .sub-heading {
            font-size: 14px;
            font-weight: normal;
            color: black;
        }
    }
}

.item__timeline {
    flex-shrink: 0;
    width: 140px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
}

fieldset {
    padding: 20px 30px;
    border-radius: 2px;
    border: 1px solid lighten(grey, 30%);

    ~ fieldset {
        margin-top: 30px;
    }
}

legend {
    font-weight: bold;
    font-size: 16px;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
}
